.App {
  text-align: center;
  background:#f5f6f8 ;
  max-height:100vh;
}

.main__heading{
  color:black;
  font-size:50px;
  margin-top:2rem;
}
.main__listing__wrapper{
  width:450px;
  margin:auto;
  height:500px;
  overflow:auto;  
  scroll-behavior: smooth;
}
.main__listing__wrapper::-webkit-scrollbar {
  width: 10px;
}
.main__listing__wrapper::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
}
/* .main__listing__wrapper::-webkit-scrollbar-track {
  background-color: #fff;
} */

.loading,.error{
  margin-top:5px;
  font-size: 20px;
  font-weight:700;
  width:100%;
  padding:10px 20px;
  background-color:#fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}